# Ignore raw FAERS ASCII data files in any project
*/data/raw/*.txt

# Ignore processed database files in any project
*/data/processed/*.db
*/data/processed/*.csv

# Ignore Jupyter notebook checkpoints and system files
.ipynb_checkpoints/
*.ipynb_checkpoints/
*.db
*.log
*.tmp
.DS_Store